html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
 --back-ground-color:#31572C;
 --main-form-color: #edf6f9;
 --form-shadow-color:#4F772D;
 --form-button-color:#31572C;
 --form-button-color-hover:#147e06;
 --form-input-border-color:#31572C;
 --form-input-border-color-hover:#147e06;
 --form-font-outher-inf-color:#646464;
 --form-input-font-size:1.2em;
 --form-input-margin:1.5em;
 --form-font-size:1.8em;
 --form-border-radius:2em;
 --form-padding:4em;
 --form-button-border-radius:1em;
 --form-button-padding:1em;
}

.back-login-page{
    height: 100vh;
    display: flex;
    background-color: var(--back-ground-color);
    align-items: center;
    justify-content: center;
}
.div-login-form{
    background-color: var(--main-form-color);
    border-radius: var(--form-border-radius);
    box-shadow: 1px 1px 20px 1px var(--form-shadow-color);
    padding: var(--form-padding);
    padding-bottom: calc(var(--form-padding)/2);

}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-input{
    background-color: #00000000;
    outline: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1.5px solid var(--form-input-border-color);
    font-size: var(--form-input-font-size);
    margin-bottom: var( --form-input-margin);
    margin-top: var( --form-input-margin);
    transition-property: all;
    transition-duration: 500ms;
    width: 100% !important; 
}

.form-input:focus{
    border-bottom: 1.5px solid var(--form-input-border-color-hover);
}

.form-button{
    background-color: var(--form-button-color);
    outline: 0;
    border: 0;
    border-radius: var(--form-button-border-radius);
    font-size: var(--form-input-font-size);
    padding-top: calc(var(--form-button-padding)/2);
    padding-bottom: calc(var(--form-button-padding)/2);
    padding-left: calc(var(--form-button-padding)*2);
    padding-right:calc(var(--form-button-padding)*2);
    margin-top:calc(var(--form-padding)/2);
    transition-property: all;
    transition-duration: 500ms;
}
.form-button:hover{
    background-color: var(--form-button-color-hover);
}
.login-form p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-greeting{
    font-size: var(--form-font-size);
}

.title-other-inf{
    font-size:calc(var(--form-font-size)/2);
    color:var(--form-font-outher-inf-color);
}

.title{
    padding-bottom: calc(var(--form-padding)/1.5);
}

.error{
    color: #c1121f;
    font-weight: 700;
}